@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$pink: #D34F73;
$blue: #4281A4;
$teal: #48A9A6;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $pink;
$link: $teal;
$info: $blue;

// Import only what you need from Bulma
@import "./bulma-0.7.5/bulma.sass";

// This gives us loading spinner for any element
.isLoadingEl {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
    &:after {
	@include loader;
	position: absolute;
	top: calc(50% - 2.5em);
	left: calc(50% - 2.5em);
	width: 5em;
	height: 5em;
	border-width: 0.25em;
    }
}
